.bg {
  background-color: #3e54d3;
}


body {
  font-family: 'McLaren', Geneva;
  color: #212755;
}


h6 {
  margin-top: 168px;
  font-size: 50px;
  color: #3e54d3;
  font-weight: 700;
  margin-left: -15px;
  }

h5 {
   color:black;
   font-size:24px;
  }

.header { 
    color:#3e54d3;
    font-size: 80px;
    font-weight: 700;
    margin-top:-300px;
    margin-left: 128px; 
  }

.aboutsection {
    background-color: #3e54d346; 
    height:400px;
  }
  
.wormimg {
    width: 100px;
    height: 100px;
    margin-top: 313px;
    margin-left: 400px; 
  }

.bookimg {
    width:260px;
    margin-top: -455px; 
    margin-left: -40px;
    
  }

.aboutdescription {
    font-size: 22px;
    color:#3e54d3;
    font-family:Geneva;
    margin-left: 128px;
    }

.fbdescription {
    margin-top: 15px;
    margin-left: -18px;
    font-size: 22px;
    color:#3e54d3;
    font-family:Geneva;
    }

.cardcontainer{
    background-color: #3e54d346;
 
}

.card1{
    background-color: #15cdca;
    color:white;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.card2{
    background-color:#4f80e2;
    color:white;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.card3{
    background-color: #4fe0a4;
    color:white;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.cardbtn{
    color: black;
    background-color:white;
    border: none;
}

.carousel-indicators li{ 
    border-radius: 100%;
    height:20px;
    width:20px;
    background-color: #3e54d3;
}

.carousel-control-prev { 
    background-color: #3e54d3;
    top:40%;
    margin-right:5px;
    height:60px;
    width:16px;
}

.carousel-control-next {
    top:40%;
    margin-right:5px;
    height:60px;
    width:16px;
    background-color: #3e54d3;  
}

.carousel{
    margin-left: 10%;
    margin-top: 30px;
}

.categoriesimg {
    max-width: 90%;
    margin-left: 40px;
}

.categoriescontent {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
    background-color: #3e54d346;
    font-size:18px;
}

.downloadbtn{
    color: white;
    background-color: #3e54d3;
    border: none;
}

.footer{
    background-color: #3e54d3;
  }

  


 

  
